html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.big-container {
    height: 2000px;
    background-color: lightblue;
}

.big-container-margin {
    margin-top: 300px;
    height: 2000px;
    background-color: lightblue;
}

.block-layout {
    display: block;
    background-color: lightblue;
    height: 100%;
    width: 100px;
}

.flex-layout {
    display: flex;
    background-color: lightblue;
    align-items: center;
    height: 100px;
    width: 100%;
}

.block {
    position: relative;
    border: 1px solid black;
    height:80px;
    width: 80px;
    background-color: orange;
    text-align: center;
}

.flex-block-2 {
    flex-grow: 3;
    border: 1px solid black;
    height:80px;
    width: 80px;
    background-color: orange;
    text-align: center;
}

.flex-block-1 {
    flex-grow: 1;
    border: 1px solid black;
    height:80px;
    width: 80px;
    background-color: orange;
    text-align: center;
}

.inline-layout {
    display: inline-block;
    background-color: lightblue;
    height: 100%;
    width: 100%;
    text-align: left;
}

.my-inline-block {
    display: inline-block;
    border: 1px solid black;
    height:80px;
    width: 19%;
    background-color: orange;
    margin: 4px auto;
    vertical-align: middle;
}

.absolut-block {
    position: absolute;
    top: 100px;
    left: 40px;
    border: 1px solid black;
    height:80px;
    width: 19%;
    background-color: orange;
}

.fixed-block {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid black;
    height:80px;
    width: 19%;
    background-color: orange;
}

.relative-block {
    position: relative;
    top: 0;
    right: 0;
    border: 1px solid black;
    height:80px;
    width: 19%;
    background-color: orange;
}